* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;  
}
body{
    margin: 0;
}

.nav-title{
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px 100px 100px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav li{
    list-style: none;
    margin-left: 70px;
    font-size: 18px;
    color: #424242;
}

header {
    background-color: #FF900E1A;
    padding: 30px;
    margin-bottom: 130px;
}

header img {
     width: 1000px;
    height: 500px;
    align-content: center;
}

.g3-architect {
    text-align: center;
}

.g3-architect-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin: 0 200px 0 200px;
}

.g3-architects-decsription{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 30px 170px 30px 170px;
}

.primary-btn{
    font-weight: 600;
    font-size: 18px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 30px;
}


/* -----------------------------------------------------------
                      Main Styles
------------------------------------------------------------*/

/*-----------------------------------------------------
                      Quick Features Styles 
------------------------------------------------------*/
.container{
    margin-bottom: 130px;
    width: 100%;
}
.quick-features{
    display: flex;
    margin: 0 200px;
    gap: 50px;
}

.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.feature-images img{
    width: 220px;
    height: 220px;

}

.quick-features-detailes{
    padding: 50px 0;
}

.feature-title{
    font-size: 45px;
    font-weight: 700;
}

.feature-details{
    font-size: 14px;
    margin: 0 0 30px 0;
    color: #727272;
    line-height: 1.3;
}

.style-1{
    color: #727272;
}

.style-2{
    color: #FF900E;
}

/*-----------------------------------------------------
                      All Features Styles 
------------------------------------------------------*/

.container-feature{
    margin-bottom: 0;
}

.all-features{
    display: flex;
    margin: 0 170px;
    gap: 145px;
}

.features-content-title{
    font-size: 35px;
    font-weight: 700;
    margin: 12px 0 0 0;
}

.content-elements{
    display: flex;
    gap: 10px;
}

#box {
    fill: #FF900E;
  }

svg{
    height: 100px;
    width: 6px;
    padding-bottom: 10px;
}

.features-content-description{
    font-size: 13px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 30px;
    line-height: 1.5;
}

.element{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
}

.all-features-image img{
  width: 500px;
  height: 700px;
}

.element-title{
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #131313;
    align-items: center;
    
}

.element-description{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    color: #727272;
    line-height: 1.7;
}

.btn-secondary{
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 25px;
    top: 50%;
    left: 50px;
    -ms-transform: translate(-50%, -50%);
  transform: translate(250%, -90%);
}

.btn-title{
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 10px;
}

.btn-info{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 0;
}

/* ---------------------------------------------------------
                    Fact Section Styles
--------------------------------------------------------- */
.container-fact{
    margin-bottom: 130px;
}

.fact{
    margin-left: 150px;
}

.fact-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.fact-info{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
    line-height: 1.6;
}

.fact-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    margin: 0 200px;
    height: 180px;
}

.content-box{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 20px 15px 15px 15px;
}


.score{
    font-weight: 600;
    font-size: 25px;
    color: #424242;
    margin: 10px 0;
}

.box-info{
    font-size: 16px;
    font-weight: 600;
    color: #727272;
    margin: 0;
}

/* ------------------------------------------------------------
                  Latest Project Section Styles
-------------------------------------------------------------*/

.latest-projects{
    margin: 0 80px;
}

.latest-project-info{
    margin: 0 150px 50px 150px;
}

.latest-project-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    margin-top: 0;
}

.latest-project-details{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #424242;
    line-height: 1.5;
    margin: 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    justify-content: center;
}

.project img{
    width: 350px;
    height: 350px;
}


.project-title{
    font-weight: 700px;
    font-size: 20px;
    margin-bottom: 10px;
}

.project-info{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 0;
}


/* ------------------------------------------------------------
                  Sponsor Section Styles
------------------------------------------------------------- */

.sponsor-section{
    text-align: center;
}

.sponsor-info{
    margin-bottom: 50px;
}

.sponsor-info-title{
    font-size: 35px;
    font-weight: 700;
    color: #131313;
    margin-top: 0;
}

.sponsor-info-description{
    font-size: 16px;
    font-weight: 400;
    margin: 0;

}

.sponsors img{
    margin: 30px;
    filter: grayscale(100%);
}

/*----------------------------------------------------
              footer styles
----------------------------------------------------*/

footer{
    height: 60px;
    margin: 0 150px 50px 150px;
    background-color: #FFF4E7;
    border-radius: 8px;
}

.footer-info{
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #424242;
}

/*--------------------------------------------------------------------
                       Responsive Layout
------------------------------------------------------------------- */

@media only screen and  (max-width: 576px){

/*------------------- Header Responsive Layout---------------------- */

    .header{
        padding: 20px;
    }

    nav{
        margin: 0 0 50px 0;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
    }

    .nav-title{
        font-size: 20px;
    }

    .g3-architect img{
        width: 300px;
        height: 250px;
    }

    .g3-architect-title{
        font-size: 30px;
        margin: 0 10px;
    }

    .g3-architects-decsription{
        margin: 30px;
    }

/*-------------------------Quick-features Responsive Layout------------------------*/

    .quick-features{
        margin: 0 20px;
        flex-direction: column;
        gap: 20px;
    }

    .feature-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .feature-images img{
        width: 160px;
        height: 160px;
    }

    .quick-features-details{
        padding: 0;
    }
    .feature-title{
        margin: 20px 0;
        font-size: 25px;
    }

    .quick-features-details button{
        margin-bottom: 0;
    }

/*-----------------All Feature Responsive Layout------------------- */
.container-feature{
    margin-bottom: 130px;
}    

    .all-features{
        flex-direction: column-reverse;
        margin: 0 20px 20px 20px;
        gap: 50px;
    }

    .all-features-image img{
        width: 100%;
        height: 100%;
    }

    .btn-secondary{
        padding: 10px;
        transform: translate(70%);
    }

    .btn-title{
        font-size: 25px;
    }

    .btn-info{
        font-size: 16px;
    }

/*------------------------Some Fact Responsive------------------------------*/

.container-fact{
    margin-bottom: 230px;
}

.fact{
    margin: 0 20px;
}

.fact-title{
    margin-top: 0;
}

.fact-info{
    margin-bottom: 40px;
    margin-top: 0;
}

.fact-content{
    margin: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.content-box{
    padding: 9px;
}

.score{
    font-size: 20px;
}

.box-info{
    font-size: 14px;
    
}

/*------------------------Latest Project Responsive--------------------------*/

.latest-projects{
    margin: 0 20px;
}

.latest-project-info{
    margin: 0;
    margin-bottom: 50px;
}

.projects{
    grid-template-columns: repeat(1, 1fr);
}


/*---------------------------Footer Responsive Layout------------------------*/

footer{
    margin: 0 40px 50px 40px ;
}

.footer-info{
    padding-top: 10px;
    font-size: 14px;
}


}